<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth page</title>
    <style>
        #consent-wrapper {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    {{if .isLogin}}
        <div id="consent-wrapper">
            <div>Are you sure to authorize "{{.client_name}}" application ?</div>
            <div>Scope</div>
            <ul>
                {{range .scope}}
                    {{with .}}
                        <li>{{.}} access to your data</li>
                    {{end}}
                {{end}}
            </ul>
            <div>
                <a href="{{.granted_uri}}">ALLOW</a>
                <a href="{{.denied_uri}}">DENY</a>
            </div>
        </div>
    {{else}}
        <form action="/oauth/auth?response_type={{.response_type}}&client_id={{.client_id}}&redirect_uri={{.redirect_uri}}&scope={{.scope}}" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div>
                <button>Login</button>
            </div>
        </form>
    {{end}}
</body>
</html>